/* Write your code here. */
* {
  box-sizing: border-box;
}
body {
  margin: 10px;
}

#root {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  height: 100vh;
}
.card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  width: auto;
  color: white;
  border-radius: 8px;
  border-width: 0px;
  margin: 5px;
}
.like {
  background-color: #eab308;
  padding: 10px;
}

.comment {
  background-color: #ffffff;
  padding: 10px;
  color: black;
}

.share {
  background-color: #1d4ed8;
  padding: 10px;
}
.heading {
  color: white;
}
@media (max-width: 576px) {
  .btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
